links:
  apps:
    href: "{{ .BaseURL }}/v3/apps"
    meta:
      title: "Applications endpoint"
    method: GET

  buildpacks:
    href: "{{ .BaseURL }}/v3/buildpacks"
    meta:
      title: "Buildpacks endpoint"
    method: GET

  builds:
    href: "{{ .BaseURL }}/v3/builds"
    meta:
      title: "Builds endpoint"
    method: GET

  cloud_controller_v3:
    href: "{{ .BaseURL }}/v3"
    meta:
      title: "Cloud controller v3 endpoint"
      version: "{{ .Version }}"
    method: GET

  deployments:
    href: "{{ .BaseURL }}/v3/deployments"
    meta:
      title: "Deployments endpoint"
    method: GET

  domains:
    href: "{{ .BaseURL }}/v3/domains"
    meta:
      title: "Domains endpoint"
    method: GET

  droplets:
    href: "{{ .BaseURL }}/v3/droplets"
    meta:
      title: "Droplets endpoint"
    method: GET

  environment_variable_groups:
    href: "{{ .BaseURL }}/v3/environment_variable_groups"
    meta:
      title: "Environment Variable Groups endpoint"
    method: GET

  feature_flags:
    href: "{{ .BaseURL }}/v3/feature_flags"
    meta:
      title: "Feature Flags endpoint"
    method: GET

  info:
    href: "{{ .BaseURL }}/v3/info"
    meta:
      title: "Info endpoint"
    method: GET

  isolation_segments:
    href: "{{ .BaseURL }}/v3/isolation_segments"
    meta:
      title: "Isolation Segments endpoint"
    method: GET

  jobs:
    href: "{{ .BaseURL }}/v3/jobs"
    meta:
      title: "Jobs endpoint"
    method: GET

  organization_quotas:
    href: "{{ .BaseURL }}/v3/organization_quotas"
    meta:
      title: "Organization Quotas endpoint"
    method: GET

  organizations:
    href: "{{ .BaseURL }}/v3/organizations"
    meta:
      title: "Organizations endpoint"
    method: GET

  packages:
    href: "{{ .BaseURL }}/v3/packages"
    meta:
      title: "Packages endpoint"
    method: GET

  processes:
    href: "{{ .BaseURL }}/v3/processes"
    meta:
      title: "Processes endpoint"
    method: GET

  resource_matches:
    href: "{{ .BaseURL }}/v3/resource_matches"
    meta:
      title: "Resource Matches endpoint"
    method: POST

  roles:
    href: "{{ .BaseURL }}/v3/roles"
    meta:
      title: "Roles endpoint"
    method: GET

  routes:
    href: "{{ .BaseURL }}/v3/routes"
    meta:
      title: "Routes endpoint"
    method: GET

  security_groups:
    href: "{{ .BaseURL }}/v3/security_groups"
    meta:
      title: "Security Groups endpoint"
    method: GET

  self:
    href: "{{ .BaseURL }}/"
    meta:
      title: "Root endpoint"
    method: GET

  service_brokers:
    href: "{{ .BaseURL }}/v3/service_brokers"
    meta:
      title: "Service Brokers endpoint"
    method: GET

  service_credential_bindings:
    href: "{{ .BaseURL }}/v3/service_credential_bindings"
    meta:
      title: "Service Credential Bindings endpoint"
    method: GET

  service_instances:
    href: "{{ .BaseURL }}/v3/service_instances"
    meta:
      title: "Service Instances endpoint"
    method: GET

  service_offerings:
    href: "{{ .BaseURL }}/v3/service_offerings"
    meta:
      title: "Service Offerings endpoint"
    method: GET

  service_plan_visibilities:
    href: "{{ .BaseURL }}/v3/service_plan_visibilities"
    meta:
      title: "Service Plan Visibilities endpoint"
    method: GET

  service_plans:
    href: "{{ .BaseURL }}/v3/service_plans"
    meta:
      title: "Service Plans endpoint"
    method: GET

  service_route_bindings:
    href: "{{ .BaseURL }}/v3/service_route_bindings"
    meta:
      title: "Service Route Bindings endpoint"
    method: GET

  service_usage_events:
    href: "{{ .BaseURL }}/v3/service_usage_events"
    meta:
      title: "Service Usage Events endpoint"
    method: GET

  sidecars:
    href: "{{ .BaseURL }}/v3/sidecars"
    meta:
      title: "Sidecars endpoint"
    method: GET

  space_quotas:
    href: "{{ .BaseURL }}/v3/space_quotas"
    meta:
      title: "Space Quotas endpoint"
    method: GET

  spaces:
    href: "{{ .BaseURL }}/v3/spaces"
    meta:
      title: "Spaces endpoint"
    method: GET

  stacks:
    href: "{{ .BaseURL }}/v3/stacks"
    meta:
      title: "Stacks endpoint"
    method: GET

  tasks:
    href: "{{ .BaseURL }}/v3/tasks"
    meta:
      title: "Tasks endpoint"
    method: GET

  users:
    href: "{{ .BaseURL }}/v3/users"
    meta:
      title: "Users endpoint"
    method: GET