{
  "links": {
    "self": {
      "href": "{{ .BaseURL }}/v3",
      "meta": {
        "version": "{{ .Version }}"
      }
    },
    "cloud_controller_v2": {
      "href": "{{ .BaseURL }}/v2",
      "meta": {
        "version": "2.150.0"
      }
    },
    "cloud_controller_v3": {
      "href": "{{ .BaseURL }}/v3",
      "meta": {
        "version": "{{ .Version }}"
      }
    },
    "network_policy_v0": {
      "href": "{{ .BaseURL }}/v3/networking/v0/external",
      "meta": {
        "version": "0.1.0"
      }
    },
    "network_policy_v1": {
      "href": "{{ .BaseURL }}/v3/networking/v1/external",
      "meta": {
        "version": "1.5.3"
      }
    },
    "login": {
      "href": "{{ .BaseURL }}/v3/login",
      "meta": {
        "version": "5.6.0",
        "oauth_client": "cf"
      }
    },
    "uaa": {
      "href": "{{ .BaseURL }}/v3/uaa",
      "meta": {
        "version": "75.11.0",
        "oauth_client": "cf"
      }
    },
    "credhub": {
      "href": "{{ .BaseURL }}/v3/credhub",
      "meta": {
        "version": "2.9.1"
      }
    },
    "routing": {
      "href": "{{ .BaseURL }}/v3/routing",
      "meta": {
        "version": "0.220.0"
      }
    },
    "logging": {
      "href": "{{ .BaseURL }}/v3/logging",
      "meta": {
        "version": "1.0.0"
      }
    },
    "log_cache": {
      "href": "{{ .BaseURL }}/v3/log-cache",
      "meta": {
        "version": "2.3.0"
      }
    },
    "log_stream": {
      "href": "{{ .BaseURL }}/v3/log-stream",
      "meta": {
        "version": "1.4.2"
      }
    },
    "app_ssh": {
      "href": "{{ .BaseURL }}/v3/ssh",
      "meta": {
        "version": "1.0.0",
        "host_key_fingerprint": "SHA256:abc123def456..."
      }
    }
  }
}