{
  "links": {
    "self": {
      "href": "{{ .BaseURL }}/v3"
    },
    "app_usage_events": {
      "href": "{{ .BaseURL }}/v3/app_usage_events"
    },
    "apps": {
      "href": "{{ .BaseURL }}/v3/apps"
    },
    "audit_events": {
      "href": "{{ .BaseURL }}/v3/audit_events"
    },
    "buildpacks": {
      "href": "{{ .BaseURL }}/v3/buildpacks"
    },
    "builds": {
      "href": "{{ .BaseURL }}/v3/builds"
    },
    "deployments": {
      "href": "{{ .BaseURL }}/v3/deployments"
    },
    "domains": {
      "href": "{{ .BaseURL }}/v3/domains"
    },
    "droplets": {
      "href": "{{ .BaseURL }}/v3/droplets"
    },
    "environment_variable_groups": {
      "href": "{{ .BaseURL }}/v3/environment_variable_groups"
    },
    "feature_flags": {
      "href": "{{ .BaseURL }}/v3/feature_flags"
    },
    "info": {
      "href": "{{ .BaseURL }}/v3/info"
    },
    "isolation_segments": {
      "href": "{{ .BaseURL }}/v3/isolation_segments"
    },
    "organizations": {
      "href": "{{ .BaseURL }}/v3/organizations"
    },
    "organization_quotas": {
      "href": "{{ .BaseURL }}/v3/organization_quotas"
    },
    "packages": {
      "href": "{{ .BaseURL }}/v3/packages"
    },
    "processes": {
      "href": "{{ .BaseURL }}/v3/processes"
    },
    "resource_matches": {
      "href": "{{ .BaseURL }}/v3/resource_matches"
    },
    "roles": {
      "href": "{{ .BaseURL }}/v3/roles"
    },
    "routes": {
      "href": "{{ .BaseURL }}/v3/routes"
    },
    "security_groups": {
      "href": "{{ .BaseURL }}/v3/security_groups"
    },
    "service_brokers": {
      "href": "{{ .BaseURL }}/v3/service_brokers"
    },
    "service_instances": {
      "href": "{{ .BaseURL }}/v3/service_instances",
    },
    "service_offerings": {
      "href": "{{ .BaseURL }}/v3/service_offerings"
    },
    "service_plans": {
      "href": "{{ .BaseURL }}/v3/service_plans"
    },
    "service_usage_events": {
      "href": "{{ .BaseURL }}/v3/service_usage_events"
    },
    "spaces": {
      "href": "{{ .BaseURL }}/v3/spaces"
    },
    "space_quotas": {
      "href": "{{ .BaseURL }}/v3/space_quotas"
    },
    "stacks": {
      "href": "{{ .BaseURL }}/v3/stacks"
    },
    "tasks": {
      "href": "{{ .BaseURL }}/v3/tasks"
    },
    "users": {
      "href": "{{ .BaseURL }}/v3/users"
    }
  }
}