links:

  cloud_controller_v3:
    href: "{{ .BaseURL }}/v3"
    meta:
      title: "Cloud controller v3 endpoint"
      version: "{{ .Version }}"
    method: GET

  self:
    href: "{{ .BaseURL }}/"
    meta:
      title: "Root endpoint"
    method: GET

