{
  "links": {
    "self": {
      "href": "{{ .BaseURL }}/",
      "meta": {
        "version": "{{ .Version }}"
      }
    },
    "cloud_controller_v3": {
      "href": "{{ .BaseURL }}/v3",
      "meta": {
        "version": "{{ .Version }}"
      }
    }
  }
}