{
  "links": {
    "self": {
      "href": "{{ .BaseURL }}/v3"
    },
    "apps": {
      "href": "{{ .BaseURL }}/v3/apps"
    },
    "service_instances": {
      "href": "{{ .BaseURL }}/v3/service_instances",
      "meta": {
        "experimental": "true"
      }
    }
  }
}